<!-- Filter dishes -->
<div class="container">
    <!-- Cuisine -->
    <div class="row mt-3">
        <ul class="cuisineSelect">
            <li>
                <a href="#">
                    <img src="/images/united-states.jpg" />
                </a>
                <div>Món Mỹ</div>
            </li>
            <li>
                <a href="#">
                    <img src="/images/china.jpg" />
                </a>
                <div>Món Trung</div>
            </li>
            <li>
                <a href="#">
                    <img src="/images/france.jpg" />
                </a>
                <div>Món Pháp</div>
            </li>
            <li>
                <a href="#">
                    <img src="/images/italy.jpg" />
                </a>
                <div>Món Ý</div>
            </li>
            <li>
                <a href="#">
                    <img src="/images/japan.jpg" />
                </a>
                <div>Món Nhật</div>
            </li>
            <li>
                <a href="#">
                    <img src="/images/mexico.jpg" />
                </a>
                <div>Món Mexico</div>
            </li>
             <li>
                <a href="#">
                    <img src="/images/thailand.jpg" />
                </a>
                <div>Món Thái</div>
            </li>
            <li>
                <a href="#">
                    <img src="/images/vietnam.jpg" />
                </a>
                <div>Món Việt</div>
            </li>
            <li>
                <a href="#">
                    <img src="/images/europe.jpg" />
                </a>
                <div>Món Âu</div>
            </li>
            <li>
                <a href="#">
                    <img src="/images/west.jpg" />
                </a>
                <div>Món Tây</div>
            </li>
            <li>
                <a href="#">
                    <img src="/images/east.jpg" />
                </a>
                <div>Món Đông</div>
            </li>
        </ul>
    </div>

    <!-- Diet -->
    <div class="row mt-0 pt-0">
        <br>
        <ul class="dietSelect mt-3 mb-5">
            <li>
                <a href="#">Không Gluten</a>
            </li>
            <li>
                <a href="#">Không chứa sữa</a>
            </li>
            <li>
                <a href="#">Ketogenic</a>
            </li>
            <li>
                <a href="#">Vegetarian</a>
            </li>
            <li>
                <a href="#">Lacto Vegetarian</a>
            </li>
            <li>
                <a href="#">Ovo Vegetarian</a>
            </li>
            <li>
                <a href="#">Vegan</a>
            </li>
            <li>
                <a href="#">Pescetarian</a>
            </li>
            <li>
                <a href="#">Paleo</a>
            </li>
            <li>
                <a href="#">Primal</a>
            </li>
            <li>
                <a href="#">Whole30</a>
            </li>
        </ul>
    </div>

    <!-- Dish type row 1-->
    <div class="row">
        <div class="col-md-2 pr-1">
            <a class="dish-type" href="#" style="background: url('/images/mainCourse_thumbnail.jpg'); background-size: cover;">
                <div class="dish-type-label">
                    <span>Món chính</span>
                </div>
            </a>
        </div>
        <div class="col-md-2 pr-1">
            <a class="dish-type" href="#" style="background: url('/images/sideDish_thumbnail.jpg'); background-size: cover;">
                <div class="dish-type-label">
                    <span>Món phụ</span>
                </div>
            </a>
        </div>
        <div class="col-md-2 pr-1">
            <a class="dish-type" href="#" style="background: url('/images/dessert_thumbnail.jpg'); background-size: cover;">
                <div class="dish-type-label">
                    <span>Tráng miệng</span>
                </div>
            </a>
        </div>
        <div class="col-md-2 pr-1">
            <a class="dish-type" href="#" style="background: url('/images/appertizer_thumbnail.jpg'); background-size: cover;">
                <div class="dish-type-label">
                    <span>Món khai vị</span>
                </div>
            </a>
        </div>
        <div class="col-md-2 pr-1">
            <a class="dish-type" href="#" style="background: url('/images/salad_thumbnail.jpg'); background-size: cover;">
                <div class="dish-type-label">
                    <span>Salad</span>
                </div>
            </a>
        </div>
        <div class="col-md-2 pr-1">
            <a class="dish-type" href="#" style="background: url('/images/bakery_thumbnail.jpg'); background-size: cover;">
                <div class="dish-type-label">
                    <span>Bánh</span>
                </div>
            </a>
        </div>
    </div>
    <!-- Dish type row 2-->
    <div class="row mt-5">
        <div class="col-md-2 pr-1">
            <a class="dish-type" href="#" style="background: url('/images/breakfast_thumbnail.jpg'); background-size: cover;">
                <div class="dish-type-label">
                    <span>Ăn sáng</span>
                </div>
            </a>
        </div>
        <div class="col-md-2 pr-1">
            <a class="dish-type" href="#" style="background: url('/images/soup_thumbnail.jpg'); background-size: cover;">
                <div class="dish-type-label">
                    <span>Soup</span>
                </div>
            </a>
        </div>
        <div class="col-md-2 pr-1">
            <a class="dish-type" href="#" style="background: url('/images/drink_thumbnail.jpg'); background-size: cover;">
                <div class="dish-type-label">
                    <span>Thức uống</span>
                </div>
            </a>
        </div>
        <div class="col-md-2 pr-1">
            <a class="dish-type" href="#" style="background: url('/images/sauce_thumbnail.jpg'); background-size: cover;">
                <div class="dish-type-label">
                    <span>Nước sốt</span>
                </div>
            </a>
        </div>
        <div class="col-md-2 pr-1">
            <a class="dish-type" href="#" style="background: url('/images/snack_thumbnail.jpg'); background-size: cover;">
                <div class="dish-type-label">
                    <span>Snack</span>
                </div>
            </a>
        </div>
        <div class="col-md-2 pr-1">
            <a class="dish-type" href="#" style="background: url('/images/lunch_thumbnail.jpg'); background-size: cover;">
                <div class="dish-type-label">
                    <span>Ăn trưa</span>
                </div>
            </a>
        </div>
    </div>
</div>

<!-- //Filter dishes --> 

<!-- top Dishes -->
<div class="ads-grid py-sm-2 py-4">
    <div class="container py-xl-4 py-lg-2">
        <!-- tittle heading -->
        <h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
            <span>C</span>ùng
            <span>Ă</span>n
            <span>N</span>ào
        </h3>
        <!-- //tittle heading -->
        <div class="row">
            <div class="agileinfo-ads-display col-lg-12">
                <div class="wrapper">
                    <!-- template section -->
                    <div class="product-sec1 px-sm-4 px-3 py-sm-5  py-3 mb-4">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="item-inner card shadow">
                                    <div class="item-image">
                                        <a href="#">
                                            <img src="/images/bakery_thumbnail.jpg" class="responsive"/>
                                        </a>
                                        <a href="#" class="item-favorite">
                                            <span>3</span>
                                            <i class="fa fa-heart"></i>
                                        </a>
                                    </div>
                                    <div class="item-info">
                                        <div class="item-info-header">
                                            <div class="item-info-title">
                                                <a href="#"><h4>Bánh chocolate</h4></a>
                                            </div>
                                            <div class="item-info-stats">
                                                <ul class="item-info-stats-1">
                                                    <li class="stats-item">
                                                        <i class="fa fa-clock"></i>
                                                        <span>
                                                            <span>7</span>
                                                            <span>min</span>
                                                        </span>
                                                    </li>
                                                    <li class="stats-item">
                                                        <i class="fa fa-thumbs-up"></i>
                                                        <span>
                                                            <span>69</span>
                                                        </span>
                                                    </li>
                                                </ul>
                                                <ul class="item-info-stats-2">
                                                    <li class="stats-item stats-item-dish-type">
                                                        <i class="fa fa-fire"></i>
                                                        <span>
                                                            <span>Tr miệng</span>
                                                        </span>
                                                    </li>
                                                    <li class="stats-item stats-item-cuisine">
                                                        <i class="fa fa-tint"></i>
                                                        <span>
                                                            <span>Mexico</span>
                                                        </span>
                                                    </li>
                                                    <li class="stats-item stats-item-diet">
                                                        <i class="fa fa-leaf"></i>
                                                        <span>
                                                            <span>LactoVeget</span>
                                                        </span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="item-info-footer">
                                            <div class="item-rating">
                                                <input type="hidden" class="starRating kv-ltr-theme-fas-star rating-loading" value="3" disabled data-size="xs"/>
                                            </div>
                                            <div class="recipe-by mt-3">
                                                <a href="#">
                                                    <img src="/images/user.jpg"/>
                                                    St Recipe
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="item-inner card shadow">
                                    <div class="item-image">
                                        <a href="#">
                                            <img src="/images/bakery_thumbnail.jpg" class="responsive"/>
                                        </a>
                                        <a href="#" class="item-favorite">
                                            <span>3</span>
                                            <i class="fa fa-heart"></i>
                                        </a>
                                    </div>
                                    <div class="item-info">
                                        <div class="item-info-header">
                                            <div class="item-info-title">
                                                <a href="#"><h4>Bánh chocolate</h4></a>
                                            </div>
                                            <div class="item-info-stats">
                                                <ul class="item-info-stats-1">
                                                    <li class="stats-item">
                                                        <i class="fa fa-clock"></i>
                                                        <span>
                                                            <span>7</span>
                                                            <span>min</span>
                                                        </span>
                                                    </li>
                                                    <li class="stats-item">
                                                        <i class="fa fa-thumbs-up"></i>
                                                        <span>
                                                            <span>69</span>
                                                        </span>
                                                    </li>
                                                </ul>
                                                <ul class="item-info-stats-2">
                                                    <li class="stats-item stats-item-dish-type">
                                                        <i class="fa fa-fire"></i>
                                                        <span>
                                                            <span>Tr miệng</span>
                                                        </span>
                                                    </li>
                                                    <li class="stats-item stats-item-cuisine">
                                                        <i class="fa fa-tint"></i>
                                                        <span>
                                                            <span>Mexico</span>
                                                        </span>
                                                    </li>
                                                    <li class="stats-item stats-item-diet">
                                                        <i class="fa fa-leaf"></i>
                                                        <span>
                                                            <span>LactoVeget</span>
                                                        </span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="item-info-footer">
                                            <div class="item-rating">
                                                <input type="hidden" class="starRating kv-ltr-theme-fas-star rating-loading" value="3" disabled data-size="xs"/>
                                            </div>
                                            <div class="recipe-by mt-3">
                                                <a href="#">
                                                    <img src="/images/user.jpg"/>
                                                    St Recipe
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="item-inner card shadow">
                                    <div class="item-image">
                                        <a href="#">
                                            <img src="/images/bakery_thumbnail.jpg" class="responsive"/>
                                        </a>
                                        <a href="#" class="item-favorite">
                                            <span>3</span>
                                            <i class="fa fa-heart"></i>
                                        </a>
                                    </div>
                                    <div class="item-info">
                                        <div class="item-info-header">
                                            <div class="item-info-title">
                                                <a href="#"><h4>Bánh chocolate</h4></a>
                                            </div>
                                            <div class="item-info-stats">
                                                <ul class="item-info-stats-1">
                                                    <li class="stats-item">
                                                        <i class="fa fa-clock"></i>
                                                        <span>
                                                            <span>7</span>
                                                            <span>min</span>
                                                        </span>
                                                    </li>
                                                    <li class="stats-item">
                                                        <i class="fa fa-thumbs-up"></i>
                                                        <span>
                                                            <span>69</span>
                                                        </span>
                                                    </li>
                                                </ul>
                                                <ul class="item-info-stats-2">
                                                    <li class="stats-item stats-item-dish-type">
                                                        <i class="fa fa-fire"></i>
                                                        <span>
                                                            <span>Tr miệng</span>
                                                        </span>
                                                    </li>
                                                    <li class="stats-item stats-item-cuisine">
                                                        <i class="fa fa-tint"></i>
                                                        <span>
                                                            <span>Mexico</span>
                                                        </span>
                                                    </li>
                                                    <li class="stats-item stats-item-diet">
                                                        <i class="fa fa-leaf"></i>
                                                        <span>
                                                            <span>LactoVeget</span>
                                                        </span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="item-info-footer">
                                            <div class="item-rating">
                                                <input type="hidden" class="starRating kv-ltr-theme-fas-star rating-loading" value="3" disabled data-size="xs"/>
                                            </div>
                                            <div class="recipe-by mt-3">
                                                <a href="#">
                                                    <img src="/images/user.jpg"/>
                                                    St Recipe
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="item-inner card shadow">
                                    <div class="item-image">
                                        <a href="#">
                                            <img src="/images/bakery_thumbnail.jpg" class="responsive"/>
                                        </a>
                                        <a href="#" class="item-favorite">
                                            <span>3</span>
                                            <i class="fa fa-heart"></i>
                                        </a>
                                    </div>
                                    <div class="item-info">
                                        <div class="item-info-header">
                                            <div class="item-info-title">
                                                <a href="#"><h4>Bánh chocolate</h4></a>
                                            </div>
                                            <div class="item-info-stats">
                                                <ul class="item-info-stats-1">
                                                    <li class="stats-item">
                                                        <i class="fa fa-clock"></i>
                                                        <span>
                                                            <span>7</span>
                                                            <span>min</span>
                                                        </span>
                                                    </li>
                                                    <li class="stats-item">
                                                        <i class="fa fa-thumbs-up"></i>
                                                        <span>
                                                            <span>69</span>
                                                        </span>
                                                    </li>
                                                </ul>
                                                <ul class="item-info-stats-2">
                                                    <li class="stats-item stats-item-dish-type">
                                                        <i class="fa fa-fire"></i>
                                                        <span>
                                                            <span>Tr miệng</span>
                                                        </span>
                                                    </li>
                                                    <li class="stats-item stats-item-cuisine">
                                                        <i class="fa fa-tint"></i>
                                                        <span>
                                                            <span>Mexico</span>
                                                        </span>
                                                    </li>
                                                    <li class="stats-item stats-item-diet">
                                                        <i class="fa fa-leaf"></i>
                                                        <span>
                                                            <span>LactoVeget</span>
                                                        </span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="item-info-footer">
                                            <div class="item-rating">
                                                <input type="hidden" class="starRating kv-ltr-theme-fas-star rating-loading" value="3" disabled data-size="xs"/>
                                            </div>
                                            <div class="recipe-by mt-3">
                                                <a href="#">
                                                    <img src="/images/user.jpg"/>
                                                    St Recipe
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-md-3">
                                <div class="item-inner card shadow">
                                    <div class="item-image">
                                        <a href="#">
                                            <img src="/images/mainCourse_thumbnail.jpg" class="responsive"/>
                                        </a>
                                        <a href="#" class="item-favorite">
                                            <span>3</span>
                                            <i class="fa fa-heart"></i>
                                        </a>
                                    </div>
                                    <div class="item-info">
                                        <div class="item-info-header">
                                            <div class="item-info-title">
                                                <a href="#"><h4>Bánh chocolate</h4></a>
                                            </div>
                                            <div class="item-info-stats">
                                                <ul class="item-info-stats-1">
                                                    <li class="stats-item">
                                                        <i class="fa fa-clock"></i>
                                                        <span>
                                                            <span>7</span>
                                                            <span>min</span>
                                                        </span>
                                                    </li>
                                                    <li class="stats-item">
                                                        <i class="fa fa-thumbs-up"></i>
                                                        <span>
                                                            <span>69</span>
                                                        </span>
                                                    </li>
                                                </ul>
                                                <ul class="item-info-stats-2">
                                                    <li class="stats-item stats-item-dish-type">
                                                        <i class="fa fa-fire"></i>
                                                        <span>
                                                            <span>Tr miệng</span>
                                                        </span>
                                                    </li>
                                                    <li class="stats-item stats-item-cuisine">
                                                        <i class="fa fa-tint"></i>
                                                        <span>
                                                            <span>Mexico</span>
                                                        </span>
                                                    </li>
                                                    <li class="stats-item stats-item-diet">
                                                        <i class="fa fa-leaf"></i>
                                                        <span>
                                                            <span>LactoVeget</span>
                                                        </span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="item-info-footer">
                                            <div class="item-rating">
                                                <input type="hidden" class="starRating kv-ltr-theme-fas-star rating-loading" value="3" disabled data-size="xs"/>
                                            </div>
                                            <div class="recipe-by mt-3">
                                                <a href="#">
                                                    <img src="/images/user.jpg"/>
                                                    St Recipe
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="item-inner card shadow">
                                    <div class="item-image">
                                        <a href="#">
                                            <img src="/images/sauce_thumbnail.jpg" class="responsive"/>
                                        </a>
                                        <a href="#" class="item-favorite">
                                            <span>3</span>
                                            <i class="fa fa-heart"></i>
                                        </a>
                                    </div>
                                    <div class="item-info">
                                        <div class="item-info-header">
                                            <div class="item-info-title">
                                                <a href="#"><h4>Bánh chocolate</h4></a>
                                            </div>
                                            <div class="item-info-stats">
                                                <ul class="item-info-stats-1">
                                                    <li class="stats-item">
                                                        <i class="fa fa-clock"></i>
                                                        <span>
                                                            <span>7</span>
                                                            <span>min</span>
                                                        </span>
                                                    </li>
                                                    <li class="stats-item">
                                                        <i class="fa fa-thumbs-up"></i>
                                                        <span>
                                                            <span>69</span>
                                                        </span>
                                                    </li>
                                                </ul>
                                                <ul class="item-info-stats-2">
                                                    <li class="stats-item stats-item-dish-type">
                                                        <i class="fa fa-fire"></i>
                                                        <span>
                                                            <span>Tr miệng</span>
                                                        </span>
                                                    </li>
                                                    <li class="stats-item stats-item-cuisine">
                                                        <i class="fa fa-tint"></i>
                                                        <span>
                                                            <span>Mexico</span>
                                                        </span>
                                                    </li>
                                                    <li class="stats-item stats-item-diet">
                                                        <i class="fa fa-leaf"></i>
                                                        <span>
                                                            <span>LactoVeget</span>
                                                        </span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="item-info-footer">
                                            <div class="item-rating">
                                                <input type="hidden" class="starRating kv-ltr-theme-fas-star rating-loading" value="3" disabled data-size="xs"/>
                                            </div>
                                            <div class="recipe-by mt-3">
                                                <a href="#">
                                                    <img src="/images/user.jpg"/>
                                                    St Recipe
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="item-inner card shadow">
                                    <div class="item-image">
                                        <a href="#">
                                            <img src="/images/dessert_thumbnail.jpg" class="responsive"/>
                                        </a>
                                        <a href="#" class="item-favorite">
                                            <span>3</span>
                                            <i class="fa fa-heart"></i>
                                        </a>
                                    </div>
                                    <div class="item-info">
                                        <div class="item-info-header">
                                            <div class="item-info-title">
                                                <a href="#"><h4>Bánh chocolate</h4></a>
                                            </div>
                                            <div class="item-info-stats">
                                                <ul class="item-info-stats-1">
                                                    <li class="stats-item">
                                                        <i class="fa fa-clock"></i>
                                                        <span>
                                                            <span>7</span>
                                                            <span>min</span>
                                                        </span>
                                                    </li>
                                                    <li class="stats-item">
                                                        <i class="fa fa-thumbs-up"></i>
                                                        <span>
                                                            <span>69</span>
                                                        </span>
                                                    </li>
                                                </ul>
                                                <ul class="item-info-stats-2">
                                                    <li class="stats-item stats-item-dish-type">
                                                        <i class="fa fa-fire"></i>
                                                        <span>
                                                            <span>Tr miệng</span>
                                                        </span>
                                                    </li>
                                                    <li class="stats-item stats-item-cuisine">
                                                        <i class="fa fa-tint"></i>
                                                        <span>
                                                            <span>Mexico</span>
                                                        </span>
                                                    </li>
                                                    <li class="stats-item stats-item-diet">
                                                        <i class="fa fa-leaf"></i>
                                                        <span>
                                                            <span>LactoVeget</span>
                                                        </span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="item-info-footer">
                                            <div class="item-rating">
                                                <input type="hidden" class="starRating kv-ltr-theme-fas-star rating-loading" value="3" disabled data-size="xs"/>
                                            </div>
                                            <div class="recipe-by mt-3">
                                                <a href="#">
                                                    <img src="/images/user.jpg"/>
                                                    St Recipe
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="item-inner card shadow">
                                    <div class="item-image">
                                        <a href="#">
                                            <img src="/images/lunch_thumbnail.jpg" class="responsive"/>
                                        </a>
                                        <a href="#" class="item-favorite">
                                            <span>3</span>
                                            <i class="fa fa-heart"></i>
                                        </a>
                                    </div>
                                    <div class="item-info">
                                        <div class="item-info-header">
                                            <div class="item-info-title">
                                                <a href="#"><h4>Bánh chocolate</h4></a>
                                            </div>
                                            <div class="item-info-stats">
                                                <ul class="item-info-stats-1">
                                                    <li class="stats-item">
                                                        <i class="fa fa-clock"></i>
                                                        <span>
                                                            <span>7</span>
                                                            <span>min</span>
                                                        </span>
                                                    </li>
                                                    <li class="stats-item">
                                                        <i class="fa fa-thumbs-up"></i>
                                                        <span>
                                                            <span>69</span>
                                                        </span>
                                                    </li>
                                                </ul>
                                                <ul class="item-info-stats-2">
                                                    <li class="stats-item stats-item-dish-type">
                                                        <i class="fa fa-fire"></i>
                                                        <span>
                                                            <span>Tr miệng</span>
                                                        </span>
                                                    </li>
                                                    <li class="stats-item stats-item-cuisine">
                                                        <i class="fa fa-tint"></i>
                                                        <span>
                                                            <span>Mexico</span>
                                                        </span>
                                                    </li>
                                                    <li class="stats-item stats-item-diet">
                                                        <i class="fa fa-leaf"></i>
                                                        <span>
                                                            <span>LactoVeget</span>
                                                        </span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="item-info-footer">
                                            <div class="item-rating">
                                                <input type="hidden" class="starRating kv-ltr-theme-fas-star rating-loading" value="3" disabled data-size="xs"/>
                                            </div>
                                            <div class="recipe-by mt-3">
                                                <a href="#">
                                                    <img src="/images/user.jpg"/>
                                                    St Recipe
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- //template section -->
                    <!-- Pagination -->
                    <nav id="dishes-pagination" aria-label="Page navigation example">
                      <ul class="pagination">
                          <li class="page-item"><a class="page-link page-link-first-last" href="#">FIRST</a></li>
                          <li class="page-item"><a class="page-link page-link-active" href="#">1</a></li>
                          <li class="page-item"><a class="page-link" href="#">2</a></li>
                          <li class="page-item"><a class="page-link" href="#">3</a></li>
                          <li class="page-item"><a class="page-link page-link-first-last" href="#">LAST</a></li>
                      </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //top Dishes -->
