<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<link rel="stylesheet" href="https://bootswatch.com/4/simplex/bootstrap.min.css" />


<!-- profile style -->
<link href="/stylesheets/profile.css" rel="stylesheet" type="text/css" media="all" />

<!-- profile javascript -->
<script src="javascripts/profile.js"></script>


<div class="container">
    {{!-- <h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
            <span>H</span>ồ sơ
        </h3> --}}
    <div class="row">
        <div class="col-12">
            <div class="card">

                <div class="card-body">
                    <div class="card-title mb-4">
                        <div class="d-flex justify-content-start">
                            <div class="image-container">
                                <img src="https://cdn4.iconfinder.com/data/icons/avatars-62/64/chef-cooker-avatar-restaurant-512.png"
                                    id="imgProfile" style="width: 216px; height: 216px" class="img-thumbnail" />
                                <div class="middle">
                                    <input type="button" class="btn btn-secondary" id="btnChangePicture"
                                        value="Change" />
                                    <input type="file" style="display: none;" id="profilePicture" name="file" />
                                </div>
                            </div>
                            <div class="userData ml-3">
                                <h2 class="d-block" style="font-size: 1.5rem; font-weight: bold"><a
                                        href="javascript:void(0);">Đỗ Thế Anh (@nhoxtheanh)</a></h2>
                                <h6 class="d-block"><a href="javascript:void(0)">1,500</a> Video đã đăng tải</h6>
                                <h6 class="d-block"><a href="javascript:void(0)">300</a> bài Blog</h6>
                            </div>
                            <div class="ml-auto">
                                <input type="button" class="btn btn-primary d-none" id="btnDiscard"
                                    value="Discard Changes" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="basicInfo-tab" data-toggle="tab" href="#basicInfo"
                                        role="tab" aria-controls="basicInfo" aria-selected="true">Thông tin cơ bản</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="connectedServices-tab" data-toggle="tab"
                                        href="#connectedServices" role="tab" aria-controls="connectedServices"
                                        aria-selected="false">Thông tin liên lạc</a>
                                </li>
                            </ul>
                            <form action="#">
                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active" id="basicInfo" role="tabpanel"
                                        aria-labelledby="basicInfo-tab">


                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;">Tên người dùng</label>
                                            </div>
                                            <div class="col-md-8 col-6">
                                                <input type="text" class="form-control" id="fname" name="fname"
                                                    value="Đỗ Thế Anh">
                                            </div>
                                        </div>
                                        <hr />

                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;">Ngày sinh</label>
                                            </div>
                                            <div class="col-md-8 col-6">
                                                <input type="date" class="form-control" id="birthday" name="birthday"
                                                    value="1999-12-03">
                                            </div>
                                        </div>
                                        <hr />


                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;">Giới tính</label>
                                            </div>
                                            <div class="col-md-8 col-6">
                                                <div class="form-check form-check-inline"><input type="radio" id="male"
                                                        name="gender" value="Nam" checked>
                                                    <label for="male" style="margin-bottom: 0px;">Nam</label><br></div>

                                                <div class="form-check form-check-inline"><input type="radio"
                                                        id="female" name="gender" value="Nữ">
                                                    <label for="female" style="margin-bottom: 0px;">Nữ</label><br></div>

                                                <div class="form-check form-check-inline"><input type="radio" id="other"
                                                        name="gender" value="Khác">
                                                    <label for="other" style="margin-bottom: 0px;">Khác</label></div>

                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;">Loại tài khoản</label>
                                            </div>
                                            <div class="col-md-8 col-6">
                                                Blogger
                                            </div>
                                        </div>
                                        <hr />

                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;">Ngày đăng ký</label>
                                            </div>
                                            <div class="col-md-8 col-6">
                                                5/6/2020
                                            </div>
                                        </div>
                                        <hr />

                                    </div>
                                    <div class="tab-pane fade" id="connectedServices" role="tabpanel"
                                        aria-labelledby="ConnectedServices-tab">

                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;">Số điện thoại</label>
                                            </div>
                                            <div class="col-md-8 col-6">
                                                <input type="text" class="form-control" id="phone_number"
                                                    name="phone_number" value="0904113942">
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;">Địa chỉ</label>
                                            </div>
                                            <div class="col-md-8 col-6">
                                                <input type="text" class="form-control" id="address" name="address"
                                                    value="Quận 1 TP HCM">
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;">Email</label>
                                            </div>
                                            <div class="col-md-8 col-6">
                                                <input type="text" class="form-control" id="emal" name="emal"
                                                    value="nhoxtheanh@gmail.com">
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;">Facebook</label>
                                            </div>
                                            <div class="col-md-8 col-6">
                                                <input type="text" class="form-control" id="facebook" name="facebook"
                                                    value="nhoxtheanh">
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;">Instagram</label>
                                            </div>
                                            <div class="col-md-8 col-6">
                                                <input type="text" class="form-control" id="instagram" name="instagram"
                                                    value="nhoxtheanh">
                                            </div>
                                        </div>
                                        <hr />
                                    </div>
                                </div>
                                <br><br>
                                <div id="SubmitArea" style="display: flex">
                                    <span style="margin: auto; display: block;">
                                        <input class="btn btn-success" type="submit" value="Lưu">
                                        <a class="btn btn-outline-primary" href="yourInfo" role="button"
                                            style="margin-left: 30px;">Hủy</a>
                                    </span>
                                </div>
                                <br><br>
                            </form>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>
</div>
</div>