<!-- Filter Dishes -->
<div class="container mt-3 mb-0">
    <div class="row">
        <!-- Dish type -->
        <div class="col-md-2">
            <div class="dropdown" id="dishTypeDropdown">
                <a class="btn dropdown-toggle filter-link" type="button" id="dishTypeDropdownBtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Loại món ăn
                </a>
                <ul class="dropdown-menu" aria-labelledby="dishTypeDropdownBtn">
                    <div class="pl-3">
                        <div class="row mb-2">
                            <div class="col-md-4">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                    Món chính
                                </label> 
                            </div>
                            <div class="col-md-4">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                    Món phụ
                                </label> 
                            </div>
                            <div class="col-md-4">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                    Tráng miệng
                                </label> 
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-4">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                    Món khai vị
                                </label> 
                            </div>
                            <div class="col-md-4">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                    Salad
                                </label> 
                            </div>
                            <div class="col-md-4">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                    Bánh
                                </label> 
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-4">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                    Ăn sáng
                                </label> 
                            </div>
                            <div class="col-md-4">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                    Soup
                                </label> 
                            </div>
                            <div class="col-md-4">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                    Thức uống
                                </label> 
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                    Nước sốt
                                </label> 
                            </div>
                            <div class="col-md-4">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                    Snack
                                </label> 
                            </div>
                            <div class="col-md-4">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                    Ăn trưa
                                </label> 
                            </div>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
        <!-- //Dish type-->
        <!-- Cuisine -->
        <div class="col-md-2">
            <div class="dropdown" id="cuisineDropdown">
                <a class="btn dropdown-toggle filter-link" type="button" id="dishTypeDropdownBtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Ẩm thực
                </a>
                <ul class="dropdown-menu" aria-labelledby="dishTypeDropdownBtn">
                    <div class="pl-3">
                        <div class="row mb-2">
                            <div class="col-md-4">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                    Món Mỹ
                                </label> 
                            </div>
                            <div class="col-md-4">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                    Món Trung
                                </label> 
                            </div>
                            <div class="col-md-4">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                    Món Pháp
                                </label> 
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-4">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                    Món Ý
                                </label> 
                            </div>
                            <div class="col-md-4">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                    Món Nhật
                                </label> 
                            </div>
                            <div class="col-md-4">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                    Món Mexico
                                </label> 
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-4">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                    Món Thái
                                </label> 
                            </div>
                            <div class="col-md-4">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                    Món Việt
                                </label> 
                            </div>
                            <div class="col-md-4">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                    Món Âu
                                </label> 
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                    Món Tây
                                </label> 
                            </div>
                            <div class="col-md-4">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                    Món Đông
                                </label> 
                            </div>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
        <!-- //Cuisine -->
        <!-- Diet -->
        <div class="col-md-2">
            <div class="dropdown" id="dietDropdown">
                <a class="btn dropdown-toggle filter-link" type="button" id="dishTypeDropdownBtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Chế độ ăn
                </a>
                <ul class="dropdown-menu" aria-labelledby="dishTypeDropdownBtn">
                    <div class="pl-3">
                        <div class="row mb-2">
                            <div class="col-md-4">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                    Không
                                </label> 
                            </div>
                            <div class="col-md-4">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                    Không Glutent
                                </label> 
                            </div>
                            <div class="col-md-4">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                    Không chứa sữa
                                </label> 
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-4">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                    Ketogenic
                                </label> 
                            </div>
                            <div class="col-md-4">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                    Vegetarian
                                </label> 
                            </div>
                            <div class="col-md-4">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                    Lacto Vegetarian
                                </label> 
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-4">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                    Ovo Vegetarian
                                </label> 
                            </div>
                            <div class="col-md-4">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                    Vegan
                                </label> 
                            </div>
                            <div class="col-md-4">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                    Pescetarian
                                </label> 
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                    Primal
                                </label> 
                            </div>
                            <div class="col-md-4">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                    Whole30
                                </label> 
                            </div>
                            <div class="col-md-4">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                    Paleo
                                </label> 
                            </div>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
        <!-- //Diet -->
    </div>
</div>
<!-- Filter Dishes -->

<!-- top Dishes -->
<div class="ads-grid py-sm-2 py-4">
    <div class="container py-xl-2 py-lg-2">
        <!-- tittle heading -->
        <h4 class="tittle-w3l text-left mb-lg-3 mb-sm-4">
            Tìm thấy <span>69</span> kết quả
        </h4>
        <!-- //tittle heading -->
        <div class="row">
            <div class="agileinfo-ads-display col-lg-12">
                <div class="wrapper">
                    <!-- template section -->
                    <div class="product-sec1 px-sm-4 px-3 py-sm-5  py-3 mb-4">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="item-inner card shadow">
                                    <div class="item-image">
                                        <a href="#">
                                            <img src="/images/bakery_thumbnail.jpg" class="responsive"/>
                                        </a>
                                        <a href="#" class="item-favorite">
                                            <span>3</span>
                                            <i class="fa fa-heart"></i>
                                        </a>
                                    </div>
                                    <div class="item-info">
                                        <div class="item-info-header">
                                            <div class="item-info-title">
                                                <a href="#"><h4>Bánh chocolate</h4></a>
                                            </div>
                                            <div class="item-info-stats">
                                                <ul class="item-info-stats-1">
                                                    <li class="stats-item">
                                                        <i class="fa fa-clock"></i>
                                                        <span>
                                                            <span>7</span>
                                                            <span>min</span>
                                                        </span>
                                                    </li>
                                                    <li class="stats-item">
                                                        <i class="fa fa-thumbs-up"></i>
                                                        <span>
                                                            <span>69</span>
                                                        </span>
                                                    </li>
                                                </ul>
                                                <ul class="item-info-stats-2">
                                                    <li class="stats-item stats-item-dish-type">
                                                        <i class="fa fa-fire"></i>
                                                        <span>
                                                            <span>Tr miệng</span>
                                                        </span>
                                                    </li>
                                                    <li class="stats-item stats-item-cuisine">
                                                        <i class="fa fa-tint"></i>
                                                        <span>
                                                            <span>Mexico</span>
                                                        </span>
                                                    </li>
                                                    <li class="stats-item stats-item-diet">
                                                        <i class="fa fa-leaf"></i>
                                                        <span>
                                                            <span>LactoVeget</span>
                                                        </span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="item-info-footer">
                                            <div class="item-rating">
                                                <input type="hidden" class="starRating kv-ltr-theme-fas-star rating-loading" value="3" disabled data-size="xs"/>
                                            </div>
                                            <div class="recipe-by mt-3">
                                                <a href="#">
                                                    <img src="/images/user.jpg"/>
                                                    St Recipe
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="item-inner card shadow">
                                    <div class="item-image">
                                        <a href="#">
                                            <img src="/images/bakery_thumbnail.jpg" class="responsive"/>
                                        </a>
                                        <a href="#" class="item-favorite">
                                            <span>3</span>
                                            <i class="fa fa-heart"></i>
                                        </a>
                                    </div>
                                    <div class="item-info">
                                        <div class="item-info-header">
                                            <div class="item-info-title">
                                                <a href="#"><h4>Bánh chocolate</h4></a>
                                            </div>
                                            <div class="item-info-stats">
                                                <ul class="item-info-stats-1">
                                                    <li class="stats-item">
                                                        <i class="fa fa-clock"></i>
                                                        <span>
                                                            <span>7</span>
                                                            <span>min</span>
                                                        </span>
                                                    </li>
                                                    <li class="stats-item">
                                                        <i class="fa fa-thumbs-up"></i>
                                                        <span>
                                                            <span>69</span>
                                                        </span>
                                                    </li>
                                                </ul>
                                                <ul class="item-info-stats-2">
                                                    <li class="stats-item stats-item-dish-type">
                                                        <i class="fa fa-fire"></i>
                                                        <span>
                                                            <span>Tr miệng</span>
                                                        </span>
                                                    </li>
                                                    <li class="stats-item stats-item-cuisine">
                                                        <i class="fa fa-tint"></i>
                                                        <span>
                                                            <span>Mexico</span>
                                                        </span>
                                                    </li>
                                                    <li class="stats-item stats-item-diet">
                                                        <i class="fa fa-leaf"></i>
                                                        <span>
                                                            <span>LactoVeget</span>
                                                        </span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="item-info-footer">
                                            <div class="item-rating">
                                                <input type="hidden" class="starRating kv-ltr-theme-fas-star rating-loading" value="3" disabled data-size="xs"/>
                                            </div>
                                            <div class="recipe-by mt-3">
                                                <a href="#">
                                                    <img src="/images/user.jpg"/>
                                                    St Recipe
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="item-inner card shadow">
                                    <div class="item-image">
                                        <a href="#">
                                            <img src="/images/bakery_thumbnail.jpg" class="responsive"/>
                                        </a>
                                        <a href="#" class="item-favorite">
                                            <span>3</span>
                                            <i class="fa fa-heart"></i>
                                        </a>
                                    </div>
                                    <div class="item-info">
                                        <div class="item-info-header">
                                            <div class="item-info-title">
                                                <a href="#"><h4>Bánh chocolate</h4></a>
                                            </div>
                                            <div class="item-info-stats">
                                                <ul class="item-info-stats-1">
                                                    <li class="stats-item">
                                                        <i class="fa fa-clock"></i>
                                                        <span>
                                                            <span>7</span>
                                                            <span>min</span>
                                                        </span>
                                                    </li>
                                                    <li class="stats-item">
                                                        <i class="fa fa-thumbs-up"></i>
                                                        <span>
                                                            <span>69</span>
                                                        </span>
                                                    </li>
                                                </ul>
                                                <ul class="item-info-stats-2">
                                                    <li class="stats-item stats-item-dish-type">
                                                        <i class="fa fa-fire"></i>
                                                        <span>
                                                            <span>Tr miệng</span>
                                                        </span>
                                                    </li>
                                                    <li class="stats-item stats-item-cuisine">
                                                        <i class="fa fa-tint"></i>
                                                        <span>
                                                            <span>Mexico</span>
                                                        </span>
                                                    </li>
                                                    <li class="stats-item stats-item-diet">
                                                        <i class="fa fa-leaf"></i>
                                                        <span>
                                                            <span>LactoVeget</span>
                                                        </span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="item-info-footer">
                                            <div class="item-rating">
                                                <input type="hidden" class="starRating kv-ltr-theme-fas-star rating-loading" value="3" disabled data-size="xs"/>
                                            </div>
                                            <div class="recipe-by mt-3">
                                                <a href="#">
                                                    <img src="/images/user.jpg"/>
                                                    St Recipe
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="item-inner card shadow">
                                    <div class="item-image">
                                        <a href="#">
                                            <img src="/images/bakery_thumbnail.jpg" class="responsive"/>
                                        </a>
                                        <a href="#" class="item-favorite">
                                            <span>3</span>
                                            <i class="fa fa-heart"></i>
                                        </a>
                                    </div>
                                    <div class="item-info">
                                        <div class="item-info-header">
                                            <div class="item-info-title">
                                                <a href="#"><h4>Bánh chocolate</h4></a>
                                            </div>
                                            <div class="item-info-stats">
                                                <ul class="item-info-stats-1">
                                                    <li class="stats-item">
                                                        <i class="fa fa-clock"></i>
                                                        <span>
                                                            <span>7</span>
                                                            <span>min</span>
                                                        </span>
                                                    </li>
                                                    <li class="stats-item">
                                                        <i class="fa fa-thumbs-up"></i>
                                                        <span>
                                                            <span>69</span>
                                                        </span>
                                                    </li>
                                                </ul>
                                                <ul class="item-info-stats-2">
                                                    <li class="stats-item stats-item-dish-type">
                                                        <i class="fa fa-fire"></i>
                                                        <span>
                                                            <span>Tr miệng</span>
                                                        </span>
                                                    </li>
                                                    <li class="stats-item stats-item-cuisine">
                                                        <i class="fa fa-tint"></i>
                                                        <span>
                                                            <span>Mexico</span>
                                                        </span>
                                                    </li>
                                                    <li class="stats-item stats-item-diet">
                                                        <i class="fa fa-leaf"></i>
                                                        <span>
                                                            <span>LactoVeget</span>
                                                        </span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="item-info-footer">
                                            <div class="item-rating">
                                                <input type="hidden" class="starRating kv-ltr-theme-fas-star rating-loading" value="3" disabled data-size="xs"/>
                                            </div>
                                            <div class="recipe-by mt-3">
                                                <a href="#">
                                                    <img src="/images/user.jpg"/>
                                                    St Recipe
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-md-3">
                                <div class="item-inner card shadow">
                                    <div class="item-image">
                                        <a href="#">
                                            <img src="/images/mainCourse_thumbnail.jpg" class="responsive"/>
                                        </a>
                                        <a href="#" class="item-favorite">
                                            <span>3</span>
                                            <i class="fa fa-heart"></i>
                                        </a>
                                    </div>
                                    <div class="item-info">
                                        <div class="item-info-header">
                                            <div class="item-info-title">
                                                <a href="#"><h4>Bánh chocolate</h4></a>
                                            </div>
                                            <div class="item-info-stats">
                                                <ul class="item-info-stats-1">
                                                    <li class="stats-item">
                                                        <i class="fa fa-clock"></i>
                                                        <span>
                                                            <span>7</span>
                                                            <span>min</span>
                                                        </span>
                                                    </li>
                                                    <li class="stats-item">
                                                        <i class="fa fa-thumbs-up"></i>
                                                        <span>
                                                            <span>69</span>
                                                        </span>
                                                    </li>
                                                </ul>
                                                <ul class="item-info-stats-2">
                                                    <li class="stats-item stats-item-dish-type">
                                                        <i class="fa fa-fire"></i>
                                                        <span>
                                                            <span>Tr miệng</span>
                                                        </span>
                                                    </li>
                                                    <li class="stats-item stats-item-cuisine">
                                                        <i class="fa fa-tint"></i>
                                                        <span>
                                                            <span>Mexico</span>
                                                        </span>
                                                    </li>
                                                    <li class="stats-item stats-item-diet">
                                                        <i class="fa fa-leaf"></i>
                                                        <span>
                                                            <span>LactoVeget</span>
                                                        </span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="item-info-footer">
                                            <div class="item-rating">
                                                <input type="hidden" class="starRating kv-ltr-theme-fas-star rating-loading" value="3" disabled data-size="xs"/>
                                            </div>
                                            <div class="recipe-by mt-3">
                                                <a href="#">
                                                    <img src="/images/user.jpg"/>
                                                    St Recipe
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="item-inner card shadow">
                                    <div class="item-image">
                                        <a href="#">
                                            <img src="/images/sauce_thumbnail.jpg" class="responsive"/>
                                        </a>
                                        <a href="#" class="item-favorite">
                                            <span>3</span>
                                            <i class="fa fa-heart"></i>
                                        </a>
                                    </div>
                                    <div class="item-info">
                                        <div class="item-info-header">
                                            <div class="item-info-title">
                                                <a href="#"><h4>Bánh chocolate</h4></a>
                                            </div>
                                            <div class="item-info-stats">
                                                <ul class="item-info-stats-1">
                                                    <li class="stats-item">
                                                        <i class="fa fa-clock"></i>
                                                        <span>
                                                            <span>7</span>
                                                            <span>min</span>
                                                        </span>
                                                    </li>
                                                    <li class="stats-item">
                                                        <i class="fa fa-thumbs-up"></i>
                                                        <span>
                                                            <span>69</span>
                                                        </span>
                                                    </li>
                                                </ul>
                                                <ul class="item-info-stats-2">
                                                    <li class="stats-item stats-item-dish-type">
                                                        <i class="fa fa-fire"></i>
                                                        <span>
                                                            <span>Tr miệng</span>
                                                        </span>
                                                    </li>
                                                    <li class="stats-item stats-item-cuisine">
                                                        <i class="fa fa-tint"></i>
                                                        <span>
                                                            <span>Mexico</span>
                                                        </span>
                                                    </li>
                                                    <li class="stats-item stats-item-diet">
                                                        <i class="fa fa-leaf"></i>
                                                        <span>
                                                            <span>LactoVeget</span>
                                                        </span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="item-info-footer">
                                            <div class="item-rating">
                                                <input type="hidden" class="starRating kv-ltr-theme-fas-star rating-loading" value="3" disabled data-size="xs"/>
                                            </div>
                                            <div class="recipe-by mt-3">
                                                <a href="#">
                                                    <img src="/images/user.jpg"/>
                                                    St Recipe
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="item-inner card shadow">
                                    <div class="item-image">
                                        <a href="#">
                                            <img src="/images/dessert_thumbnail.jpg" class="responsive"/>
                                        </a>
                                        <a href="#" class="item-favorite">
                                            <span>3</span>
                                            <i class="fa fa-heart"></i>
                                        </a>
                                    </div>
                                    <div class="item-info">
                                        <div class="item-info-header">
                                            <div class="item-info-title">
                                                <a href="#"><h4>Bánh chocolate</h4></a>
                                            </div>
                                            <div class="item-info-stats">
                                                <ul class="item-info-stats-1">
                                                    <li class="stats-item">
                                                        <i class="fa fa-clock"></i>
                                                        <span>
                                                            <span>7</span>
                                                            <span>min</span>
                                                        </span>
                                                    </li>
                                                    <li class="stats-item">
                                                        <i class="fa fa-thumbs-up"></i>
                                                        <span>
                                                            <span>69</span>
                                                        </span>
                                                    </li>
                                                </ul>
                                                <ul class="item-info-stats-2">
                                                    <li class="stats-item stats-item-dish-type">
                                                        <i class="fa fa-fire"></i>
                                                        <span>
                                                            <span>Tr miệng</span>
                                                        </span>
                                                    </li>
                                                    <li class="stats-item stats-item-cuisine">
                                                        <i class="fa fa-tint"></i>
                                                        <span>
                                                            <span>Mexico</span>
                                                        </span>
                                                    </li>
                                                    <li class="stats-item stats-item-diet">
                                                        <i class="fa fa-leaf"></i>
                                                        <span>
                                                            <span>LactoVeget</span>
                                                        </span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="item-info-footer">
                                            <div class="item-rating">
                                                <input type="hidden" class="starRating kv-ltr-theme-fas-star rating-loading" value="3" disabled data-size="xs"/>
                                            </div>
                                            <div class="recipe-by mt-3">
                                                <a href="#">
                                                    <img src="/images/user.jpg"/>
                                                    St Recipe
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="item-inner card shadow">
                                    <div class="item-image">
                                        <a href="#">
                                            <img src="/images/lunch_thumbnail.jpg" class="responsive"/>
                                        </a>
                                        <a href="#" class="item-favorite">
                                            <span>3</span>
                                            <i class="fa fa-heart"></i>
                                        </a>
                                    </div>
                                    <div class="item-info">
                                        <div class="item-info-header">
                                            <div class="item-info-title">
                                                <a href="#"><h4>Bánh chocolate</h4></a>
                                            </div>
                                            <div class="item-info-stats">
                                                <ul class="item-info-stats-1">
                                                    <li class="stats-item">
                                                        <i class="fa fa-clock"></i>
                                                        <span>
                                                            <span>7</span>
                                                            <span>min</span>
                                                        </span>
                                                    </li>
                                                    <li class="stats-item">
                                                        <i class="fa fa-thumbs-up"></i>
                                                        <span>
                                                            <span>69</span>
                                                        </span>
                                                    </li>
                                                </ul>
                                                <ul class="item-info-stats-2">
                                                    <li class="stats-item stats-item-dish-type">
                                                        <i class="fa fa-fire"></i>
                                                        <span>
                                                            <span>Tr miệng</span>
                                                        </span>
                                                    </li>
                                                    <li class="stats-item stats-item-cuisine">
                                                        <i class="fa fa-tint"></i>
                                                        <span>
                                                            <span>Mexico</span>
                                                        </span>
                                                    </li>
                                                    <li class="stats-item stats-item-diet">
                                                        <i class="fa fa-leaf"></i>
                                                        <span>
                                                            <span>LactoVeget</span>
                                                        </span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="item-info-footer">
                                            <div class="item-rating">
                                                <input type="hidden" class="starRating kv-ltr-theme-fas-star rating-loading" value="3" disabled data-size="xs"/>
                                            </div>
                                            <div class="recipe-by mt-3">
                                                <a href="#">
                                                    <img src="/images/user.jpg"/>
                                                    St Recipe
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- //template section -->
                    <nav id="dishes-pagination" aria-label="Page navigation example">
                      <ul class="pagination">
                          <li class="page-item"><a class="page-link page-link-first-last" href="#">FIRST</a></li>
                          <li class="page-item"><a class="page-link page-link-active" href="#">1</a></li>
                          <li class="page-item"><a class="page-link" href="#">2</a></li>
                          <li class="page-item"><a class="page-link" href="#">3</a></li>
                          <li class="page-item"><a class="page-link page-link-first-last" href="#">LAST</a></li>
                      </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //top Dishes -->
